.title1{
  color: white;
  background-image: url('/images/estadio.webp');
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  text-align: center;

}

.centered-image {
  display: block;
  margin: 0 auto;
}